body {
    background-color: rgb(47, 161, 255);
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 50px;
}

.bubble {
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    position: absolute;
    bottom: 0;
    animation: bubbles 3s linear infinite;
}

.bubble:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.bubble:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.bubble:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}
.bubble:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}
.bubble:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}
.bubble:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.bubble:nth-child(7){
    width: 30px;
    height: 30px;
    left: 75%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.bubble:nth-child(8){
    width: 100px;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.bubble:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}
.bubble:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes bubbles{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
       transform: translateX(30px);
    }
    50%{
        opacity: 0.4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}